.vs/
Debug/
Release/
Data/
x64/
Source/.generated/

*.ttf
*.glb
*.cmdl
*.dds
*.png
*.tga
*.jpg
*.hdr
*.dll
*.bin

*.obj
*.pdb
*.lib
*.tlog
*.exe
*.csv
*.dat
*.ini

*.bat

todo.txt

*.diagsession

*.zip

__pycache__/

TestFiles/screenshots/
TestFiles/timing_*.json